:root {
    --iris-cl: #4d5ae5;
    --secondary-cl: #2e2f42;
    --main-cl: #434455;
    --main-hover-cl: #404bbf;
    --white-cl: #ffffff;
    --cloud-cl: #f4f4fd;
    --border-card-cl: #e7e9fc;
    --border-icon-cl: #8E8F99;
    --green-cl: #31D0AA;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-cl);
    background-color: var(--white-cl);
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
}

button {
    cursor: pointer;
}



.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-card {
    padding: 32px 16px;
}

.container-flex {
    display: flex;
    align-items: baseline;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-cl);
}

.main-logo-span {
    color: var(--secondary-cl);
}

.small-font {
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.title-bold {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-cl);
    margin-bottom: 72px;
}

.title-medium {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
    margin-bottom: 8px;
}

.sections {
    padding-top: 120px;
    padding-bottom: 120px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ===================== HEADER STYLES ===================== */

.page-header {
    border-bottom: 1px solid var(--border-card-cl);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
    margin-right: 76px;
}

.page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 40px;
}


.menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-and-func);
    
}

.menu-link:hover,
.menu-link:focus,
.menu-link.active {
    color: var(--main-hover-cl);
    
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.menu-link.active::after {
    background-color: var(--main-hover-cl);
}

.page-address {
    font-style: normal;
}

.address-menu {
    display: flex;
    gap: 40px;
}
.address-menu-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-and-func);
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: var(--main-hover-cl);
    
}

/* ===================== HERO STYLES ===================== */

.page-hero {
    background-color: var(--secondary-cl);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 #00000040;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    color: var(--white-cl);
    max-width: 496px;
    margin: auto auto 48px;
    
}

.hero-btn {
    display: block;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--white-cl);
    background-color: var(--iris-cl);
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color var(--transition-duration-and-func);

}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--main-hover-cl);
}

/* ===================== FEATURE STYLES ===================== */
.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: var(--cloud-cl);
    border: 1px solid var(--border-icon-cl);
    border-radius: 4px;
}

/* .feature-icon {
    padding: 24px 0;
} */

.feature-second-title {
    margin-top: 0;
}


/* ===================== TEAM STYLES ===================== */

.page-team{
    background-color: var(--cloud-cl);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--white-cl);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229, 0 1px 6px 0 #2e2f4214;
}

.team-second-title {
    text-align: center;
}

.team-txt {
    text-align: center;
    margin-bottom: 8px;
}

.team-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* .team-social-item {
    
} */



.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris-cl);
    border-radius: 50%;
    
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--main-hover-cl);
    transition: background-color var(--transition-duration-and-func);
}

.team-social-icon {
    fill: var(--cloud-cl);
}

/* ===================== PORTFOLIO STYLES ===================== */

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition-duration-and-func);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-subtitle {
    transform: translateY(0);
}

.portfolio-container {
    border: 1px solid var(--border-card-cl);
    border-top: none;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    
}

.portfolio-overlay-subtitle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--cloud-cl);
    line-height: 150%;
    letter-spacing: 0.02em;
    background-color: var(--iris-cl);
    transform: translateY(100%);
    transition: transform var(--transition-duration-and-func);
}


/* ===================== FOOTER STYLES ===================== */

.page-footer {
    background-color: var(--secondary-cl);
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-txt {
    color: var(--cloud-cl);
    max-width: 264px;
}

.first-container-footer {
    margin-right: 120px;
}

.footer-social-txt {
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--white-cl);
    margin-bottom: 16px;
}

.footer-social-list {
    gap: 16px;

}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-cl);
    transition: background-color var(--transition-duration-and-func);
}